<div class="container" id="siniestros">
    <fieldset>
        <legend><span class="glyphicon glyphicon-floppy-disk"></span> Creación de Siniestro</legend>
        <br/>
        <div class="well form-inline" align="center">

            <div class="form-group">
                <label for="idPoliza">Número de Poliza:</label>
                <input type="number" class="form-control" id="idPoliza" required="" min="1"/>
            </div>
            <button type="button" class="btn btn-primary" id="btnConsultarPoliza">Consultar</button>
            <div class="form-group">
                <label for="nroSiniestro">Número de Siniestro:</label>
                <label name="nroSiniestro" class="form-control" id="nroSiniestro"></label>
            </div>
        </div>
        <div class="well form-horizontal" id="formu_registro_siniestro">
            <div class="form-group">
                <label class="col-md-4 control-label">Fecha del incidente</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <input name="txtFecha" placeholder="Click acá para seleccionar" class="form-control datepicker" type="date"
                               id="fecha"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Detalle de Incidente</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-text-height"></i></span>
                        <textarea id="txtDetalle" class="form-control" rows="3" style="resize: none;"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Comuna</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select id="ddlComunas" class="form-control selectpicker">
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Número de Poliza</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-th-large"></i></span>
                        <label name="poliza" class="form-control" id="nroBuscado"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Dirección</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-text-width"></i></span>
                        <input id="txtDireccion" placeholder="Dirección" class="form-control" type="text"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4"><br/>
                    <button type="button" class="btn btn-warning" id="btnCrearSiniestro">Crear Siniestro
                        <span class="glyphicon glyphicon-send"></span>
                    </button>
                </div>
            </div>
        </div>
    </fieldset>
</div>