<div class="container" id="asigLiquidador">
    <div class="row">
        <div class="form-horizontal">
            <!-- Form Name -->
            <legend><span class="glyphicon glyphicon-repeat"></span> Asignar Taller a Siniestro</legend>
            <div class="form-group">
                <label class="col-md-4 control-label" for="rutM">Talleres </label>
                <div class="col-md-4">
                    <input id="rutM" name="rutM" placeholder="RUT" class="form-control input-md" type="text"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="asig"></label>
                <div class="col-md-4">
                    <a href="#" class="btn btn-primary" id="asig" name="asig">Asignar <span class="glyphicon glyphicon-ok"></span></a>
                </div>
            </div>
        </div>
        <div class="container hidden" id="cuerpoModificar">
        </div>
    </div>

</div>
