<div class="container" id="creaGrua">
    <div class="row">
        <form class="form-horizontal">
            <!-- Form Name -->
            <legend id="legend"><span class="glyphicon glyphicon-floppy-disk"></span> Creación de Grúa</legend>
            <div class="form-group" id="activoMod">
                <label class="col-md-4 control-label">Disponible / En Uso</label>
                <div class="col-md-4" id="chec">
                    <label class="custom-control custom-checkbox form-control">
                        <input type="checkbox" class="custom-control-input hidden" id="activoG"/>
                        <span class="custom-control-indicator"></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="rutAseguradora">RUT Aseguradora</label>
                <div class="col-md-4">
                    <label id="rutAseguradora" name="rutAseguradora" placeholder="RUT Aseguradora" class="form-control input-md" th:text="${rutAseguradora}"></label>
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="numeroChasis">Número de Chasis </label>
                <div class="col-md-4">
                    <input id="numeroChasis" name="requestName" placeholder="Número de Chasis" class="form-control input-md" required="" type="text" maxlength="25"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="patente">Patente </label>
                <div class="col-md-4">
                    <input id="patente" name="requestName" placeholder="Patente" class="form-control input-md" required="" type="text" maxlength="25"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="regiones">Región</label>
                <div class="col-md-6">
                    <select id="regiones" name="comuna" class="form-control">
                        <option value="-1">Seleccione una región</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="comuna">Comuna</label>
                <div class="col-md-6">
                    <select id="comuna" name="comuna" class="form-control">
                        <option value="-1">Seleccione una comuna</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="btnCrearGrua"></label>
                <div class="col-md-4">
                    <a href="#" class="btn btn-primary" name="btnGrua" id="btnCrearGrua"><span class="glyphicon glyphicon-floppy-open" ></span> Guardar Grúa</a>
                </div>
            </div>
        </form>
    </div>
</div>

