<div class="container" id="siniestros">
    <fieldset>
        <legend><span class="glyphicon glyphicon-stats"></span> Estado del Siniestro</legend>
        <br/>
        <div class="well form-horizontal" id="formu_registro_siniestro">
            <div class="form-group">
                <label class="col-md-4 control-label">Rut del cliente:</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <label class="form-control" id="rutCliente"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Número de poliza:</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
                        <label class="form-control" id="nroPoliza"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Número de siniestro:</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-flash"></i></span>
                        <label class="form-control" id="nroSiniestro"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Número de chasis:</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-ok"></i></span>
                        <label class="form-control" id="nroChasis"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Estado del vehículo:</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-road"></i></span>
                        <label class="form-control" id="estadoVehiculo"></label>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>