<!DOCTYPE html >
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Aseguradora Antártica</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/modales.css" />
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/PrintArea.css" rel="stylesheet"/>
    <style type="text/css">
    </style>
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.PrintArea.js"></script>
</head>
<body>
<header>
    <div id="menuPrincipal">
        <input type="text" class="hidden" th:value="${nombre}" id="nombreUsuario"/>
    </div>
</header>
<div id="liquidador">
</div>
<div class="modal" id="processing-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <img src="/img/loading.gif" class="icon" />
                    <h4>Procesando... </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModalError" class="modal">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-headerError text-center">
                <button type="button" class="close" data-dismiss="modales-content" aria-hidden="true">×</button>
                <h4>Mensaje de Error</h4>
            </div>
            <div class="modal-bodyError text-center">
                <h2><p id="errorModal"/></h2>
                <button type="button" id="btnCerrar1" class="btn btn-danger  cerrar btn-lg">Volver</button>
            </div>
        </div>
    </div>
</div>
<div id="myModalTaller" class="modal">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header text-center">
                <select id="talleres" class="form-control">
                    <option value="-1">Seleccione un Taller</option>
                </select>
            </div>
            <div class="modal-body text-center">
                <span>Región: <label class="form-control" id="region">Región donde se ubica Taller</label></span>
                <button type="button" id="btnCerrar1" class="btn btn-success  cerrar btn-lg">Listo</button>
            </div>
        </div>
    </div>
</div>
<div id="myModalChofer" class="modal">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header text-center">
                <select id="chofer" class="form-control">
                    <option value="-1">Listado Gruas por patente</option>
                </select>
            </div>
            <div class="modal-body text-center">
                <span>Región: <label class="form-control" id="regionGrua">Región donde se ubica Grua</label></span>
                <button type="button" id="btnCerrar1" class="btn btn-success  cerrar btn-lg">Listo</button>
            </div>

        </div>
    </div>
</div>
<div id="myModalError1" class="modal">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-headerError text-center">
                <button type="button" class="close" data-dismiss="modales-content" aria-hidden="true">×</button>
                <h4>Mensaje de Error</h4>
            </div>
            <div class="modal-bodyError text-center">
                <h2><p id="errorModal1"/></h2>
                <button type="button" id="btnCerrar1" class="btn btn-danger  cerrar btn-lg">Volver</button>
            </div>

        </div>
    </div>
</div>
<div id="myModalFinal" class="modal">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header1 text-center">
                <button type="button" class="close" data-dismiss="modales-content" aria-hidden="true">×</button>
                <h4>Mensaje de Confirmación</h4>
            </div>
            <div class="modal-bodyError text-center">
                <h2>&nbsp;¿Seguro confirma la creación de usuario?&nbsp;</h2>
                <button type="button" id="btnCerrar1" class="btn btn-warning  cerrar btn-lg">Volver</button>
                <button type="button" id="enviar" class="btn btn-success  cerrar btn-lg">Confirmar</button>
            </div>

        </div>
    </div>
</div>
<div id="myModalFinal2" class="modal">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header1 text-center">
                <button type="button" id="close1" class="close" data-dismiss="modales-content" aria-hidden="true">×</button>
                <h4>Mensaje de Confirmación</h4>
            </div>
            <div class="modal-body text-center">
                <h2 id="confirmacion"></h2>
                <button type="button" id="btnCerrar2" class="btn btn-success  cerrar btn-lg">Volver</button>
            </div>
        </div>
    </div>
</div>
<div id="myModalAprobacion" class="modal">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header1 text-center">
                <button type="button"  id="close2" class="close" data-dismiss="modales-content" aria-hidden="true">×</button>
                <h4>Mensaje de Confirmación</h4>
            </div>
            <div class="modal-body text-center">
                <h2 id="confirmacionAprobar"></h2>
                <button type="button" id="btnCerrar3" class="btn btn-warning  cerrar btn-lg">Volver</button>
                <button type="button" id="btnAprobacionFinal" class="btn btn-success  cerrar btn-lg">Imprimir</button>
            </div>
        </div>
    </div>
</div>
<div id="myModalRechazado" class="modal">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header1 text-center">
                <button type="button"  id="close3" class="close" data-dismiss="modales-content" aria-hidden="true">×</button>
                <h4>Mensaje de Confirmación</h4>
            </div>
            <div class="modal-body text-center">
                <h2 id="confirmacionRechazar"></h2>
                <button type="button" id="btnRechazoFinal" class="btn btn-success  cerrar btn-lg">Salir</button>
            </div>
        </div>
    </div>
</div>
<div id="myModalFinalGrua" class="modal">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header1 text-center">
                <button type="button"  class="close" data-dismiss="modales-content" aria-hidden="true">×</button>
                <h4>Mensaje de Confirmación</h4>
            </div>
            <div class="modal-body text-center">
                <h2 id="confirmacionGrua"></h2>
                <button type="button" id="btnCerrar2" class="btn btn-warning  cerrar btn-lg">Volver</button>
                <button type="button" id="btnGuardaGrua" class="btn btn-success  cerrar btn-lg">Confirmar</button>
            </div>
        </div>
    </div>
</div>
<div id="myModalFinalTaller" class="modal">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header1 text-center">
                <button type="button"  class="close" data-dismiss="modales-content" aria-hidden="true">×</button>
                <h4>Mensaje de Confirmación</h4>
            </div>
            <div class="modal-body text-center">
                <h2 id="confirmacionTaller"></h2>
                <button type="button" id="btnCerrar2" class="btn btn-warning  cerrar btn-lg">Volver</button>
                <button type="button" id="btnGuardaTaller" class="btn btn-success  cerrar btn-lg">Confirmar</button>
            </div>
        </div>
    </div>
</div>
<div id="myModalPresupuesto" class="modal">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header1 text-center">
                <button type="button"  id="closes" class="close" data-dismiss="modales-content" aria-hidden="true">×</button>
                <h4>Presupuesto</h4>
            </div>
            <div class="modal-body text-center" id="creaPresupuestos">
            </div>
            <div class="modal-footer text-center">
                <a href="javascript:void(0)" class="btn btn-default" id="imprime"><span class="glyphicon glyphicon-print"></span> Imprimir Presupuesto</a>
            </div>
        </div>
    </div>
</div>
<div id="myModalPresupuesto1" class="modal">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header1 text-center">
                <button type="button"  id="closes1" class="close" data-dismiss="modales-content" aria-hidden="true">×</button>
                <h4>Presupuesto</h4>
            </div>
            <div class="modal-body text-center" id="muestraPresupuestos">
            </div>
            <div class="modal-footer text-center">
                <a href="javascript:void(0)" class="btn btn-default" id="imprime1"><span class="glyphicon glyphicon-print"></span> Imprimir Presupuesto</a>
            </div>
        </div>
    </div>
</div>
<div id="myModalRechazoTaller" class="modal">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header1 text-center">
                <button type="button"  id="closes2" class="close" data-dismiss="modales-content" aria-hidden="true">×</button>
                <h4>Gestión Taller/Rechazo Definitivo</h4>
            </div>
            <div class="modal-body text-center" id="rechazoPresupuestos">
                <div class="row">
                    <form class="form-horizontal">
                        <div class="alert alert-danger hidden">
                            <strong id="strong">Seleccione Taller o Grúa según corresponda</strong>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Rechazar [NO/SI]</label>
                            <div class="col-md-4" id="check">
                                <label class="custom-control custom-checkbox form-control">
                                    <input type="checkbox" class="custom-control-input hidden" id="rech"/>
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </div><br/><br/>
                            <div class="form-group hidden" id="divRechazo">
                                <label class="col-md-4 control-label" for="tipoRechazofinal">Rechazo Definitivo</label>
                                <div class="col-md-4">
                                    <textarea id="tipoRechazofinal" name="tipoRechazofinal" placeholder="Descripción de Rechazo" class="form-control input-md animated"  maxlength="200"></textarea>
                                </div>
                            </div><br/><br/>
                            <div id="esconder" class="row">
                                <h4 class="text-center">Talleres en su Región</h4>
                                <hr/>
                                <label class="col-md-4 control-label">Favor elija un taller para Reingresar Vehículo</label>
                                <div class="col-md-4 selectContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                        <select id="talleres1" class="form-control selectpicker">
                                            <option value="">Seleccione un taller</option>
                                        </select>
                                    </div>
                                </div><br/><br/><br/>
                                <label class="col-md-4 control-label">Asignar Grúa No/Si</label>
                                <div class="col-md-4" id="chec">
                                    <label class="custom-control custom-checkbox form-control">
                                        <input type="checkbox" class="custom-control-input hidden" id="activoG"/>
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </div><br/>
                                <br/><br/>
                            </div>
                            <div class="form-group hidden" id="bodyGrua">
                                <label class="col-md-4 control-label">Grúas Disponibles</label>
                                <div class="col-md-4 selectContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                        <select id="gruas1" class="form-control selectpicker">
                                            <option value="">Seleccione una grúa</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer text-center">
                <a href="#" class="btn btn-default" id="btnReasignarTaller"><span class="glyphicon glyphicon-repeat"></span> Reasignar Taller</a>
                <a href="#" class="btn btn-danger hidden" id="btnRechazoDefinitivo"><span class="glyphicon glyphicon-floppy-remove"></span> Rechazar</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/liquidador.js">
</script>
<script type="text/javascript" src="/js/moment.min.js">
</script>

</body>
</html>
