<div class="form-horizontal" id="listChoferEntrega">
    <div class="form-group">&nbsp;&nbsp;&nbsp;&nbsp;
        <legend  id="legend">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-list"></span> Vehículo Entregado</legend>
    </div>
    <input class="hidden" th:value="${rut}" id="rut"/>
    <div class="table col-lg-4 offset-2">
        <table id="table_recors" class="table table-bordered table-sm m-4 table-striped table-hover" >
            <tr>
                <th class="success">Id Siniestro&nbsp;&nbsp;&nbsp;</th>
                <th class="success">Liquidador&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th class="success">Fecha Ingreso&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th class="success">Estado Siniestro&nbsp;&nbsp;&nbsp;</th>
                <th class="success">Taller&nbsp;&nbsp;&nbsp;</th>
                <th class="success">Patente Grua&nbsp;&nbsp;&nbsp;</th>
                <th class="success">Dirección Taller&nbsp;&nbsp;&nbsp;</th>
            </tr>
        </table>
    </div>
    <div class="form-group">

        <div id="dialog" title="Datos del Asegurado" hidden="" style="height: 100px">
            <ul>
                <li id="rutAsegurado"></li>
                <li id="nombreAsegurado"></li>
                <li id="comunaAsegurado"></li>
                <li id="patenteAsegurado"></li>
                <li id="modeloAsegurado"></li>
                <li id="marcaAsegurado"></li>
                <li id="anioAsegurado"></li>
            </ul>
        </div>
    </div>
</div>