<div class="container" id="ListadoUsuario">
    <div class="form-horizontal">
        <div class="form-group">
            <legend><span class="glyphicon glyphicon-list"></span> Listado de Usuarios</legend>
            <label class="col-md-4 control-label" for="listarUsuario"></label>
            <div class="col-md-4">
                <button id="listarUsuario" name="listarUsuario" class="btn btn-primary hidden" type="button"> Listar Usuarios</button>
            </div>
        </div>
        <table id="table_recors" class="table table-bordered table-sm m-0" >
            <tr id="tr_cabecera">
                <th class="success">Nombre&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th class="success">Rut&nbsp;</th>
                <th class="success">Direccion&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th class="success">Comuna&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th class="success">Perfil&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th class="success">Departamento&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th class="success">Teléfono&nbsp;</th>
                <th class="success">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th class="success">Password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th class="success">Activo&nbsp;</th>
            </tr>
        </table>
    </div>
</div>
