<div class="container" id="listadoUsuario">
    <div id="tabs">
        <fieldset>
            <ul class="nav nav-tabs" id="vinetas">
                <li class="active usuariosTab"><a data-toggle="tab" href="#tab_usuarios" class="lisUsr"
                                                  onclick="mostrarTab(0);">Listado de Siniestros</a></li>
                <li class="gruasTab"><a data-toggle="tab" href="#tab_gruas" onclick="mostrarTab(1);">Listado de
                    Gruas</a></li>
                <li class="talleresTab"><a data-toggle="tab" href="#tab_talleres" onclick="mostrarTab(2);">Listado de
                    Talleres</a></li>
            </ul>
            <div class="tab-content">
                <div id="tab_usuarios" class="tab-pane fade in active">
                    <div class="form-horizontal">
                        <div class="form-group">&nbsp;&nbsp;&nbsp;&nbsp;
                            <legend>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-list"></span> Listado de
                                Usuarios
                            </legend>
                        </div>
                        <table id="table_recors" class="table table-bordered table-sm m-0">
                            <tr>
                                <th class="success">Id Siniestro&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th class="success">Fecha de incidente&nbsp;</th>
                                <th class="success">Detalle del incidente&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th class="success">Comuna&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th class="success">Poliza&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th class="success">Dirección&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="tab_gruas" class="tab-pane fade">
                    <div class="form-horizontal">
                        <div class="form-group">&nbsp;&nbsp;&nbsp;&nbsp;
                            <legend>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-list"></span> Listado de
                                Gruas
                            </legend>
                        </div>
                        <table id="table_gruas" class="table table-bordered table-sm m-0">
                            <tr>
                                <th class="success">Nro Chasis&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th class="success">Patente&nbsp;</th>
                                <th class="success">Comuna&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th class="success">Rut Aseguradora&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th class="success">Disponible / En Uso&nbsp;&nbsp;&nbsp;&nbsp;</th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="tab_talleres" class="tab-pane fade">
                    <div class="form-horizontal">
                        <div class="form-group">&nbsp;&nbsp;&nbsp;&nbsp;
                            <legend>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-list"></span> Listado de
                                Talleres
                            </legend>
                        </div>
                        <table id="table_taller" class="table table-bordered table-sm m-0">
                            <tr>
                                <th class="success">Rut Taller&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th class="success">Nombre Taller&nbsp;</th>
                                <th class="success">Direccion&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th class="success">Comuna&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th class="success">Teléfono&nbsp;</th>
                                <th class="success">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th class="success">Rut Aseguradora&nbsp;</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
