<div class="container" id="modificaUsuario">
    <div class="row">
        <div class="form-horizontal">
            <!-- Form Name -->
            <legend><span class="glyphicon glyphicon-repeat"></span> Modificación de Usuario</legend>
            <div class="form-group">
                <label class="col-md-4 control-label" for="rutM">RUT a buscar </label>
                <div class="col-md-4">
                    <input id="rutM" name="rutM" placeholder="RUT" class="form-control input-md" type="text"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="modif"></label>
                <div class="col-md-4">
                    <a href="#" class="btn btn-primary" id="modif" name="modif">Buscar <span class="glyphicon glyphicon-search"></span></a>

                </div>
            </div>
        </div>

        <table id="table_recors" class="hidden table table-bordered table-sm m-0" >
            <tr id="tr_cabecera">
                <th class="success">Nombre&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th class="success">Rut&nbsp;</th>
                <th class="success">Direccion&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th class="success">Comuna&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th class="success">Perfil&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th class="success">Departamento&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th class="success">Teléfono&nbsp;</th>
                <th class="success">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th class="success">Password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th class="success">Activo&nbsp;</th>
            </tr>
        </table>
        <div class="form-group">
            <label class="col-md-4 control-label" for="modifUsuario"></label>
            <div class="col-md-4">
                <button id="modifUsuario" name="modifUsuario" class="btn btn-default hidden" type="button">Modificar</button>
            </div>
        </div>
    </div>

</div>
