<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Aseguradora Antártica</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="glyphicon glyphicon-user"><span id="usrname"></span></a></li>
                <li><a th:href="@{/logout}" class="btn btn-default"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
                <li><a href="#" id="verSiniestro">Ver estado de su siniestro</a></li>
                <li><a href="#" id="historialSiniestro">Historial de su siniestro</a></li>
                <li><a href="#" id="listadoSiniestros">Lista de todos sus siniestros</a></li>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->
