<div class="form-horizontal" id="recepcion">
    <div class="form-group">&nbsp;&nbsp;&nbsp;&nbsp;
        <legend>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-list"></span> Listado de Siniestros</legend>
    </div>
    <input class="hidden" th:value="${rut}" id="rut"/>
    <div class="table col-lg-4 offset-2">
        <table id="table_recors" class="table table-bordered table-sm m-4 table-striped table-hover" >
            <tr>
                <th class="success">Id Siniestro&nbsp;&nbsp;&nbsp;</th>
                <th class="success">Liquidador&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th class="success">Fecha Ingreso&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th class="success">Siniestro Listo para:</th>
            </tr>
        </table>
    </div>
</div>

