<div class="container" id="asigLiquidador">
    <div class="row">
        <div class="form-horizontal">
            <!-- Form Name -->
            <legend><span class="glyphicon glyphicon-repeat"></span> Listado Siniestros Pendientes</legend>
            <table id="table_recors" class="table table-bordered table-sm m-4" >
                <tr>
                    <th class="success">Número Póliza</th>
                    <th class="success">Número Siniestro&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th class="success">Estado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp</th>
                    <th class="success">Fecha Incidente&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th class="success">Direccion&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th class="success">Comuna&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th class="success">Región&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                </tr>
            </table>

        </div>

    </div>

</div>
