<div class="container" id="listaSini">
    <div class="row">
        <form class="form-horizontal">
            <!-- Form Name -->
            <legend id="legend"><span class="glyphicon glyphicon-floppy-disk"></span> Listado Siniestros Pendientes</legend>
            <div class="form-group">
                <label class="col-md-4 control-label" for="rutTaller">RUT Taller</label>
                <div class="col-md-4">
                    <input id="rutTaller" name="rutTaller" placeholder="Sin puntos (12345678-9)" class="form-control input-md" type="text" required="" maxlength="12"/>
                </div>
            </div>
        </form>
    </div>
</div>

